{% extends "base.html" %}

{% block content %}
<div class="px-4">
    <h1>Привет, {{name}}</h1>

    <ul class="list-group mt-4 ">
        {% for e in list_articles %}
        <li class="list-group-item mt-2 p-2">
            <h3>{{ e.name }} </h3>
            <br>
            <span> {{ e.text|truncatechars:"200" }} </span>
            <br> <br>
            <span><i>({{ e.create_date }})</i></span>
            <br>
            <span><a href=" {% url 'page' e.id %}"> Читать далее </a></span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}